*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main-header {
  top:0;
  width: 100%;
  background: #fff;
  position: sticky;
  z-index: 10000;
  border-bottom: 1px solid #eee;
}

.container {
  top: 0;
  max-width: 1400px;
  margin: auto;
  background:linear-gradient(190deg,#80c8c4, #ffabb6, #edf7f6);
  padding: 14px 20px;
  display: flex;
  align-items: center;
}


.logoo img {
  height: 45px;
  border-radius: 50%;
}


.slide-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: linear-gradient(190deg,#80c8c4, #ffabb6, #edf7f6);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s cubic-bezier(0.68,-0.55,0.27,1.55);
  z-index: 9999;
}

.slide-menu.active {
  left: 0;
}

.slide-menu ul {
  list-style: none;
  text-align: center;
}

.slide-menu ul li {
  margin: 20px 0;
  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 0.6s forwards;
}

.slide-menu.active ul li {
  animation-delay: calc(var(--i) * 0.1s);
}

.slide-menu ul li a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease;
}

.slide-menu ul li a:hover {
  color: #80c8c4;
}

service-dropdown {
  position: relative;
}

.service-submenu {
  list-style: none;
  margin-top: 10px;
  display: none;
  animation: dropdownFade 0.4s ease forwards;
}

.service-submenu li a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  opacity: 0.9;
}

.service-submenu li a:hover {
  color: #80c8c4;
}

.service-dropdown:hover .service-submenu {
  display: block;
}

.service-dropdown i {
  margin-left: 6px;
  transition: transform 0.3s ease;
}

.service-dropdown:hover i {
  transform: rotate(180deg);
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.phone-item {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-top: 30px;
}


#menuToggle {
  cursor: pointer;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.hero {
  position: relative;
  min-height: 100vh;
  padding: 60px 80px;
  background: radial-gradient(circle at top, #c3e7e5, #efb6be);
}

.top-bar {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 14px;
  opacity: 0.8;
}

.top-bar .year {
  border: 1px solid #aaa;
  padding: 2px 12px;
  border-radius: 20px;
}

.hero-content {
  max-width: 700px;
  margin-top: 120px;
}

h1 {
  font-size: 56px;
  line-height: 1.2;
}

.hero-content p {
  color:#333;
}

.script {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  margin-right: 8px;
}

.bold {
  font-weight: 700;
  letter-spacing: 1px;
}

.subtitle {
  margin-top: 24px;
  font-size: 16px;
  color: #cfcfcf;
  line-height: 1.6;
}

.hero-image {
  position: absolute;
  top: 120px;
  right: 80px;
  width: 280px;
  height: 420px;
  background: url(../images/contact-image.jpg) center/cover no-repeat;
  border-radius: 6px;
  filter: contrast(1.05);
}

.cards {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 24px;
}

.card {
  width: 140px;
  height: 160px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(16px);
  border-radius: 18px;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  font-size: 12px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
  transform: translateY(40px);
  opacity: 0;
}

.card.center {
  width: 180px;
  height: 200px;
}

.card strong {
  font-size: 32px;
  margin-top: 8px;
}

.contact-wrapper {
  display: flex;
  min-height: 100vh;
  padding: 10px;
  gap: 10px;
}


.left-panel {
  flex: 1;
  background: #d5f3f1;
  border-radius: 16px;
  padding:10px;
}
.left-panel h1 {
  margin-top: 60px;
  font-size: 32px;
  font-weight: 700;
}
.left-panel span {
  color: #ffabb6;
}
.points {
  list-style: none;
  padding: 0;
}
.points li {
  margin: 15px 0;
  font-size: 16px;
}
.points i {
  color: #ffabb6;
  margin-right: 10px;
}

.reviews {
  display: flex;
  gap: 10px;
  margin: 30px 0;
}
.review-card {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.trusted {
  font-size: 10px;
  margin: 30px 0 10px;
}

 .logo-marquee {
        overflow: hidden;
        margin-top: 20px;
        background: #fff;
        padding: 20px 0;
    }

    .logos {
        display: flex;
        gap: 40px;
        animation: scroll 20s linear infinite;
    }

    .logos img {
        height: 40px;
        opacity: 0.8;
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-50%);
        }
    }
.right-panel {
  flex: 1;
  background: #d9f7f6;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 10px 40px rgba(0,0,0,.08);
}

.tabs {
  display: flex;
}
.tab {
  flex: 1;
  padding: 15px;
  border: none;
  cursor: pointer;
  background: #eee;
  margin-top: 50px;
}
.tab.active {
  background: white;
  margin-top: 50px;
  border-bottom: 3px solid #ffabb6;
  font-weight: 600;
}

.form {
  display: none;
  margin-top: 30px;
  animation: fade .4s ease;
}
.form.active {
  display: block;
}

input, textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
}
.phone {
  display: flex;
}
.phone span {
  padding: 10px;
  height: 45px;
  background: #eee;
  border-radius: 8px 0 0 8px;
}
.phone input {
  border-radius: 0 8px 8px 0;
}

.submit {
  background: #ffabb6;
  color: white;
  padding: 14px;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 10px;
}
.calendar span {
  padding: 15px;
  background: #eee;
  text-align: center;
  border-radius: 8px;
}
.calendar .active {
  background: black;
  color: white;
}

.time-slots button {
  margin: 10px 10px 0 0;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  cursor: pointer;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; }
}

.pricing-section {
  padding: 80px 60px;
  background: #cdf3f1;
  text-align: center;
}

.pricing-tag {
  font-size: 18px;
  font-weight: 500;
  color: #1f2937;
}

.pricing-title {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 700;
  color: #1f2937;
}

.pricing-title span {
  color: #ff7a00;
}


.billing-toggle {
  margin: 30px 0 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 14px;
}

.billing-toggle span{
  color:#0f0f0f;
  font-weight:600;
}

.switch {
  position: relative;
  width: 50px;
  height: 24px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: #111827;
  border-radius: 20px;
}

.slider::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #fbbf24;
  border-radius: 50%;
  top: 3px;
  left: 4px;
}

.pricing-cards {
  max-width: 1200px;
  margin: auto;
  display: flex;
  height:80vh;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

.price-card {
  width: 320px;
  gap:10px;
  line-height: 2;
  background: #f3f3f3;
  padding: 40px 30px;
  text-align: center;
}

.price-card h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color:#0f0f0f;
}

.divider {
  width: 120px;
  height: 1px;
  background: #111;
  margin: 0 auto 30px;
}

.price-card h4 {
  font-size: 15px;
  margin-bottom: 20px;
  color:#0f0f0f;
}

.price-card ul {
  list-style: none;
  margin-bottom: 30px;
}

.price-card li {
  margin-bottom: 14px;
  font-size: 14px;
  color:#333;
}

.price-card i {
  color: #ff7a00;
  margin-right: 8px;
}


.btn-dark {
  background: #111827;
  color: #ffffff;
  border: none;
  padding: 12px 22px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
}

.terms {
  margin-top: 14px;
  font-size: 12px;
  color:#333;
}

.price-card.featured{
  background: linear-gradient(180deg, #80c8c4, #e8aa8c);
  border-radius: 0 0 0 140px;
}

.price-card:not(.featured):hover {
  background: linear-gradient(180deg, #e8aa8c, #80c8c4);
  border-radius: 0 0 0 140px;
}

.custom-plan{
  width:100%;
  padding:30px 0;
  background:#f6f6f6;
  text-align:center;
}

.custom-plan p{
  font-size:16px;
  color:#111;
}

.custom-link{
  margin-left:6px;
  font-weight:600;
  color:#ff7a00;
  text-decoration:none;
  position:relative;
  display:inline-flex;
  align-items:center;
  gap:6px;
  transition:0.3s;
}

.custom-link span{
  display:inline-block;
  transition:0.3s;
}


.custom-link:hover{
  color:#000;
}

.custom-link:hover span{
  transform:translateX(6px);
}

.footer {
  background:linear-gradient(190deg,#80c8c4, #ffabb6, #edf7f6);
  color: #333;
}


.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  padding: 30px 15px;
  margin-left:50px;
}

.footer-col h4 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 14px;
}

.footer-col p,
.footer-col li {
  font-size: 13px;
  line-height: 1.6;
}

.footer-col ul {
  list-style: none;
}

.footer-col a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.footer-col a:hover {
  color: #ffabb6;
}
 .brand .logo {
  width: 120px;
  margin-bottom: 15px;
}


.cert-strip {
   background:linear-gradient(120deg,#80c8c4,#edf7f6);
  margin: 20px 60px;
  padding: 25px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.cert-strip img {
  height: 80px;
  transition: all 0.4s ease;
  cursor: pointer;
}


.cert-strip img:hover {
  transform: scale(1.15);
  filter: drop-shadow(0 0 10px rgba(0,0,0,0.3));
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 15px;
  text-align: left;
  font-size: 13px;
  margin-left: 50px;
}